{% extends 'header.html' %}

{% block content %}
  

    <main class="main-about">
        <div class="about-section">
            <h1 id="title">About Us</h1>
            <div class="about-body">
                <p>We are a team that believe educating users about the ever-evolving threat of phishing attacks <br> i necessary. We believe that knowledge is power, and by equipping users with the skills to identify and avoid phishing attempts, we can create a safer online <br>environment for everyone.</p>
            </div>
            <div class="about-conclusion">
                <h1 id="title1">Contributors</h1>
                <p>Kouti Divine</p>
            </div>
        </div>
    </main>

{% endblock %}