<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Index Page</title>
   
</head>
<body>
    
        <img src="images/logo.png" alt="Logo" class="logo">
        <form action="/predict" method="post" >
            <label for="urlInput">Enter URL:</label>
            <div>
                <input type="text" id="urlInput" name="urlInput" required>
                <button type="submit">Check URL</button>
            </div>
            
        </form>

        {% if result %}
            <p>{{ result }}</p>
        {% endif %}
    
        
        
       
    </div>
</body>
</html>