<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Horizontal Card Design</title>
    <link rel="stylesheet" href="css/card.css">
    <link rel="stylesheet" href="style.js">
</head>

<body>
    <div class="main-learn">
        <nav class="navbar">
            <div class="logo"><a href="/"><img src="{{ url_for('static', filename='images/logo.png') }}" alt=""></a></div>
            <ul class="nav-links">
                <li><a href="/">Home</a></li>
                <li><a href="/about">About Us</a></li>
                <li><a href="/learn">Learn more about Phishing</a></li>
                
            </ul>
            <div class="burger">
                <div class="line1"></div>
                <div class="line2"></div>
                <div class="line3"></div>
            </div>
        </nav>
        <div class="text">All you ned to know about phishing is found here. take the next step and protect your self and
            organization.
        </div>
        <section>
            <div class="column2">
                <div class="card main-tit">
    
                    <div class="card-content">
                        <h2 class="main-title">5 Common phishing attacks</h2>
                    </div>
                </div>
                <div class="card ">
                    <!-- https://via.placeholder.com/300x400 -->
                    <img src="images/spear.png" alt="Card Image" class="card-image">
                    <div class="card-content">
                        <h2 class="card-title">Spear Phishing</h2>
                        <p class="card-text"> A spear phishing attack tries to trick a specific individual or group of
                            individuals into taking actions that harm their organization or themselves.</p>
                    </div>
                </div>
                <div class="card">
                    <!-- https://via.placeholder.com/300x400 -->
                    <img src="images/telephone.png" alt="Card Image" class="card-image">
                    <div class="card-content">
                        <h2 class="card-title">Vishing</h2>
                        <p class="card-text">Vishing is short for "voice phishing," which involves scamming people over the
                            phone, enticing them to give out sensitive information</p>
                    </div>
    
                </div>
    
    
            </div>
            <div class="column1">
                <div class="card ">
                    <!-- https://via.placeholder.com/300x400 -->
                    <img src="images/phishing.png" alt="Card Image" class="card-image">
                    <div class="card-content">
                        <h2 class="card-title">Email Phishing</h2>
                        <p class="card-text">Email Phishing is any malicious email message meant to trick users into
                            divulging private information. </p>
                    </div>
                </div>
                <div class="card">
                    <!-- https://via.placeholder.com/300x400 -->
                    <img src="images/smishing.png" alt="Card Image" class="card-image">
                    <div class="card-content">
                        <h2 class="card-title">Smishing</h2>
                        <p class="card-text">Smishing is a social engineering attack that uses fake mobile text messages to
                            trick people into downloading malware, sharing sensitive information.</p>
                    </div>
                </div>
                <div class="card">
                    <!-- https://via.placeholder.com/300x400 -->
                    <img src="images/qr-code.png" alt="Card Image" class="card-image">
                    <div class="card-content">
                        <h2 class="card-title">QR Phishing</h2>
                        <p class="card-text">Quishing (QR-phishing) is a type of phishing scam that uses QR codes to deceive
                            users into providing their personal information or visiting hamful websites</p>
                    </div>
                </div>
    
            </div>
        </section>
    
        <div class="title">
            Resources
        </div>
        <main>
            <div class="card1">
                <img src="images/Rectangle 15.png" alt="card1 Image" class="card1-image">
                <div class="card1-content">
                    <h2 class="card1-title">What is Phishing</h2>
                    <p class="card1-text">Phishing is the practice of sending fraudulent communications that appear to come
                        from a legitimate and reputable source</p>
                    <a href="https://www.simplilearn.com/tutorials/cryptography-tutorial/what-is-phishing-attack"></a>
                    <div class="card1-button">
                        <p>Learn More</p>
                        <img src="images/Arrow right-circle.png" alt="">
                    </div>
                    </a>
    
    
                </div>
            </div>
            <div class="card1">
                <img src="images/Rectangle 13.png" alt="Card Image" class="card1-image">
                <div class="card1-content">
                    <h2 class="card1-title">Best practices to avoid phishing</h2>
                    <p class="card1-text">Most successful online attacks begin when someone clicks and downloads a malicious
                        attachment from an email, direct message or social media post</p>
                    <a
                        href="https://www.spiceworks.com/it-security/vulnerability-management/articles/what-is-a-phishing-email-attack/"></a>
                    <div class="card1-button">
                        <p>Learn More</p>
                        <img src="images/Arrow right-circle.png" alt="">
                    </div>
                    </a>
                </div>
            </div>
            <div class="card1">
                <img src="images/Rectangle 6.png" alt="Card Image" class="card1-image">
                <div class="card1-content">
                    <h2 class="card1-title">Follow These Steps to Avoid Phishing Scams</h2>
                    <p class="card1-text">Most successful online attacks begin when someone clicks and downloads a malicious
                        attachment from an email, direct message or social media post</p>
                    <a href="https://www.cisa.gov/secure-our-world/teach-employees-avoid-phishing"></a>
                    <div class="card1-button">
                        <p>Learn More</p>
                        <img src="images/Arrow right-circle.png" alt="">
                    </div>
                    </a>
                </div>
            </div>
        </main>
    </div>
    <div class="main-footer">
        <footer class="footer">
            <div class="footer-logo"><img src="images/logo.png" alt=""></div>
            <div class="footer-content">
                <div class="footer-contact">
                    <p>Contact Us</p>
                    <p>Email: koutidivine@gmail.com</p>
                </div>
                <div class="footer-links">
                    <a href="#">Eduphish © 2024, All Rights Reserved</a>
                </div>
            </div>
            <div></div>
        </footer>
    </div>
    <script>
        const navSlide = () => {
            const burger = document.querySelector('.burger');
            const nav = document.querySelector('.nav-links');
            const navLinks = document.querySelectorAll('.nav-links li');

            burger.addEventListener('click', () => {
                // Toggle Nav
                nav.classList.toggle('nav-active');

                // Animate Links
                navLinks.forEach((link, index) => {
                    if (link.style.animation) {
                        link.style.animation = '';
                    } else {
                        link.style.animation = `navLinkFade 0.5s ease forwards ${index / 7 + 0.3}s`;
                    }
                });

                // Burger Animation
                burger.classList.toggle('toggle');
            });
        }

        navSlide();
    </script>
</body>

</html>